structlog
py-cpuinfo==9.0.0
wget
# for Whisper
openai-whisper==20240930
faster-whisper==1.1.0
whisper-timestamped==1.15.8
matplotlib
ffmpeg-python==0.2.0
# for Demucs
demucs==4.0.1
invisible-watermark
fonts
font-roboto
# gradio
gradio==5.14.0
numpy<2
pydantic==2.9.1
yt-dlp==2025.03.27
browser_cookie3
json5
more_itertools
pyyaml
pandas==1.5.0
Cython
huggingface-hub==0.27.1
cached_path==1.6.7
# tts
edge-tts
python-iso639
deep-translator
pysubs2
lingua-language-detector
# live
soundcard
soundfile
websockets
websocket-client
kaldialign
librosa==0.10.1
jiwer
evaluate
# PyTorch 2.5.1 CPU
torch==2.5.1
torchvision==0.20.1
torchaudio==2.5.1
# spaCy
spacy==3.7.5